:root {
    --main--color : #FFDAB9;
}
body{
    perspective: 600px; 
    box-sizing: border-box;
}
.container {
    width: 1000px;
    margin:20px auto ;
}
.clear {
    clear: both;
}
/* start settings-box */
.settings-box{
    position: fixed;
    z-index: 3;
    min-height: 100vh;
    background-color: rgba(255, 255, 255, 0.539);
    width: 200px;
    transition: all 1.5s ease-in-out;
    left: -200;
}
.settings-box .img {
    position: absolute;
    left: 200px;
    top: 250px;
    cursor: pointer;
}
.settings-box .setting-container{
    text-align: center;
    
}
.open {
    left :0;
}
.setting-container .option-box {
    padding: 10px;
    background-color: #333;
    border: 3px solid var(--main--color);
    border-radius: 20px;
    margin: 10px;
    
}
.setting-container .option-box h2 {
    margin: 0;
    font-weight: bold;
    color: var(--main--color);


}
.setting-container .option-box ul {
    list-style: none;
    text-align: center;
    padding: 0;

}
.setting-container .option-box li {
    width: 20px;
    height: 30px;
    border-radius: 50%;
    display: inline-block;
    margin: 5px;
    cursor: pointer;
    transition: all 1s ease-in;
    opacity: .5;

}
.setting-container .option-box li:first-child{
    background-color: #E9967A;
}
.setting-container .option-box li:nth-child(2){
    background-color: #8B008B;
}
.setting-container .option-box li:nth-child(3){
    background-color: #00CED1;
}
.setting-container .option-box li:nth-child(4){
    background-color: #FF1493;
}
.setting-container .option-box h4{
    color: var(--main--color);
}
.setting-container .option-box .yes,
.setting-container .option-box .no{
    display: inline-block;
    background: rgb(156, 33, 156);
    margin: 5px;
    color: #fff;
    width: 60px;
    opacity: .5;
    cursor: pointer;
    transition: all 1.5s ease-in;


}

.setting-container .option-box .active{
    opacity: 1;
    border: 3px solid #fff;
    color: var(--main--color);
    background-color: var(--main--color);
    color: #000;
    padding: 2px;
    font-weight: bold;
}
/* end settings-box */


/* start landing page */
.landin-page {
    min-height: 100vh;
    background-image:url('imags/pizza/pizza-4952509_1920.jpg');
    background-size:cover;
    position: relative;
}
.overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: #000;
    opacity: .6;
}
.header-area {
    position: relative;
    z-index: 2;
    color: #fff;
    overflow: hidden;
}
.header-area .logo {
    margin: 20px;
    margin-top: 100px;
    font-weight: bold;
    font-size: 35px;
    text-transform: uppercase;
}
.header-area .logo span{

    color: var(--main--color);
    font-size: 55px;
    text-transform: capitalize; 
    text-decoration: underline;
}
.header-area ul {
    list-style: none;
    background-color: rgba(55, 55, 53, 0.657);
    color: #fff;
    
}
.header-area ul li {
    display: inline-block;
    padding: 10px;
    font-weight: bold;
    margin: 5px;
    cursor: pointer;
    text-transform: capitalize;
}
.header-area ul li:hover {
    color: var(--main--color);
}
.introduction-text {
    position: absolute;
    width: 300px;
    margin: 20px ;
    color: rgba(255, 255, 255, 0.721);
    z-index: 2;
}
.introduction-text h1 {
    color: var(--main--color);
}
.introduction-text p {
    line-height: 25px;
    font-weight: bold;
}
/* end landing page */

/* start about us  */
.about-us {
    overflow: hidden;
    padding: 10px;
    display: flex;

}
.info-box{
    flex: 1;
    margin-top: 150px;
}
.info-box h1{
    color: var(--main--color);
    font-weight: bold;

}
.info-box p{
    line-height: 1.9;
    font-weight: bold;


}
.img-box{
    flex: 1;

}
/* end about us  */

/* start space*/
.space {
    width: 100%;
    height: 140px;

}
/*end space*/

/* start skill box  */

.skills{
    padding-top:50px ;
    padding-bottom: 50px;
}
.skills h2{
    color: var(--main--color);
    text-transform: capitalize;
}

.skill-box{
    background-color: #ccc;
    text-transform: capitalize;
}

.skill-box .skill-name{
    background-color: #fff;
    margin: 5px;
    float: left;
    width: 20%;
    padding: 10px;
    text-align: center;
    font-weight: bold;
}
.skill-box .skill-progress{
    background-color: rgba(240, 233, 233, 0.496);
    margin: 5px;
    float: left;
    width: 70%;
    height: 20px;
    padding: 10px;
    position: relative;
}
.skill-box .skill-progress span {
    position: absolute;
    left: 0;
    top: 0;
    width: 0%;
    height: 100%;
    border-radius: 10px;
    border:1px solid #000 ;
    transition: all 1.5s ease-in-out;
    background: var(--main--color);
}
/* end skill box  */


/* strat gallery */
.container h1{
    color: var(--main--color);
    text-transform: capitalize;
    text-decoration: underline ;
}
.active {
    background: var(--main--color);
    color: #000;
    border-radius: 8px;
    font-weight: bold;
}
.slider-container {
    position: relative;
    width: 800px;
    height: 250px;
    margin: 10px auto;
}
.slider-container img {
    position: absolute;
    z-index: 1;
    transition: all 1s ease;
    opacity: 0;
    width: 800px;
    height: 250px;
}
.slider-container img.active {
    opacity: 1;
}
.slide-number {
    position:absolute;
    top: 10px;
    left: 10px;
    background: rgba(176, 25, 25, 0.298);
    z-index: 2;
    color: #fff;
    font-size: 20px;
    border-radius: 8px;
    padding: 10px;
}

.slider-controles {
    width: 800px;
    margin: 10px auto;
   overflow: hidden;
}
.slider-controles .prev,
.slider-controles .next{
    background-color: var(--main--color);
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    width: 70px;
    border-radius: 8px;
    padding: 5px;
}
.slider-controles .prev {
    float: left;
}
.slider-controles .next {
    float: right;
}
.slider-controles .prev.disabled,
.slider-controles .next.disabled {
    background-color:#0096875c;
    cursor: no-drop;
}
.indicators {
    width: 70%;
    float: left;
    transition: all 1s ease;
}
.indicators ul {
    list-style: none;
    text-align: center;

}
.indicators ul li {
    display: inline-block;
    margin-right: 15px;
    border:1px solid #009688;
    padding: 5px;
    cursor: pointer;
    
}
/* end gallery */

/* start time line */
.timeline {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #eee;
}
.timeline-content {
    position: relative;
    overflow: hidden;
}
.timeline-content:before {
    content: '';
    width: 2px;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 0;
    background-color: var(--main--color);
    margin-left: -1px;
}
.timeline-content .year {
    margin: 20px auto;
    background-color: var(--main--color);
    width: 50px;
    color: #eee;
    position: relative;
    z-index: 2;
    border-radius: 5px;
    padding: 4px;
    text-align: center;
    font-weight: bold;
}
.timeline-content .left {
    float: left;
    width: calc(50% - 25px);
    margin-bottom: 40px;
    position: relative;

}
.timeline-content .right {
    float: right;
    width: calc(50% - 25px);
    margin-bottom: 40px;
    position: relative;
}
.timeline-content .right .content,
.timeline-content .left .content{
    background-color: #fff;
    padding: 20px;

}
.timeline-content .right .content h3,
.timeline-content .left .content h3{
    color: var(--main--color);
    font-weight: bold;

}
.timeline-content .right .content p,
.timeline-content .left .content p{
    color: #666;
    line-height: 1.6;
}
.timeline-content .left:before{
    content: '';
    width: 14px;
    height: 14px;
    border: 3px solid var(--main--color);
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    right: -7.5%;
    z-index: 3;
}
.timeline-content .left .content:before{
    content: '';
    border-style: solid;
    border-width: 10px;
    border-color: transparent transparent transparent #fff ;
    height: 0;
    width: 0;
    position: absolute;
    right: -20px;
    top: 10px;

}
.timeline-content .right:before{
    content: '';
    width: 14px;
    height: 14px;
    border: 3px solid var(--main--color);
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 30px;
    left:-7.5% ;
    z-index: 3;
}
.timeline-content .right .content:before{
    content: '';
    border-style: solid;
    border-width: 10px;
    border-color: transparent #fff transparent transparent  ;
    height: 0;
    width: 0;
    position: absolute;
    left: -20px;
    top: 40px;

}
/* end time line */

/* start features */
.features{
    padding-top: 50px;
    padding-bottom: 50px;
    overflow: hidden;
    text-align: center;
}
.features h1 {
    color: var(--main--color);
    text-transform: capitalize;
}
.feat-box {
    float: left;
    width: 30%;
    margin-bottom: 30px;
}
.feat-box img {
    width: 90%;
    padding: 5px;
    margin-left: 5px;
    border: 2px solid var(--main--color);
    border-radius: 40%;
    height: 100px;
}
.feat-box h2 {
    text-transform: capitalize;
}
.feat-box p {
    color: #666;
    line-height: 1.6;
   
}
/* end features */


/* start testimoniles  */
.testimoniles {
    min-height: 600px;
    position: relative;
    padding-top: 60px;
    padding-bottom: 90px;
}
.testimoniles:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: var(--main--color);

}
.testimoniles:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background-color: #333;
    
}
.testimoniles h2{
    font-size: 30px;
    font-weight: bold;
    margin-left:30px ;
    position: relative;
    text-align: left;
    z-index: 2;
    color: #fff;
    text-transform: uppercase;


}
.testimoniles .ts-box{
    position: relative;
    z-index: 2;
    float: left;
    width: calc(80% / 3);
    background-color: #fff;
    color: #333;
    padding: 20px;
    font-size: 22px;
    border-radius: 15px;
}
.testimoniles .ts-box:not(:last-of-type){
    margin-right: 10px;
}
.ts-box > p {
    color: #666;
    line-height: 1.6;
}
.ts-box p {
    color: #666;
    line-height: 1.7;
    

}
.ts-box .person-info img {
    width: 150px;
    height: 70px;
    
}
.ts-box .person-info h4 {
    text-transform: capitalize;
}
.ts-box .person-info p{
    font-size: 20px;
    text-transform: uppercase;
    color: #666;
}
/* end testimoniles  */

/* start up */
.up {
    background-color: #fff;
    position: fixed;
    padding: 15px;
    border: 2px solid var(--main--color);
    right: 10;
    cursor: pointer;
    bottom: 40px;
    transition: all 1s ease;
    font-size: 25;
    font-weight: bold;

}
/* end up */

/* start reset-option */
.reset-option {
    width: 80%;
    padding: 10;
    background: var(--main--color);
    color: #333;
    font-size: 20;
    font-weight: bold;
    border: 2px solid #333;
    border-radius: 8px;
    text-transform: capitalize;
    text-decoration: underline;
    cursor: pointer;
    margin-top: 30px;
}

/* end reset-option */